@import url(https://fonts.googleapis.com/css?family=Righteous);

.title-text-shadow {
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    text-shadow: .05em .05em 0 #64748b;
}

.title-span-text-shadow {
    color: white;
    text-shadow: 1px 1px 1px #94a3b8,
        1px 2px 2px #e2e8f0,
        1px 3px 3px #e2e8f0,
        /* 1px 4px 4px #e2e8f0,
        1px 5px 1px #e2e8f0,
        1px 6px 1px #e2e8f0,
        1px 7px 1px #e2e8f0,
        1px 8px 1px #e2e8f0,
        1px 9px 1px #e2e8f0,
        1px 10px 1px #e2e8f0, */
        1px 10px 6px #94a3b8,
        1px 20px 60px #94a3b8;
}